*{
	  box-sizing: border-box;
	  padding: 0;
	  margin: 0;
	}

	.marco {
		display: grid;
		border-style: solid;
		border-color: red;
		grid-template-columns: 250px auto;
		grid-template-rows: 150px 40px auto 40px;
		grid-gap: 10px;
		width: 100vw;
		height: 100vh;
		background-image: url('../img/fondo_web.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}

	.encabezado {
		border-style: solid;
		border-color: blue;
		grid-column: 1 / span 2;
		grid-row: 1 / span 1;
		background-color: rgba(255, 255, 255, .4);
		border: 1px hidden #526079;
		border-radius: 20px;
	}
	
	.migas {
	  border-style: solid;
	  border-color: yellow;
	  grid-column: 1 / span 2;
	  grid-row: 2 / span 1;
	}
	
	.lado {
	  border-style: solid;
	  border-color: violet;
	  grid-column: 1 / span 1;
	  grid-row: 3 / span 1;
	}
	
	.contenido {
	  border-style: solid;
	  border-color: violet;
	  grid-column: 2 / span 1;
	  grid-row: 3 / span 1;
	}
	
	.pie {
	  border-style: solid;
	  border-color: aqua;
	  grid-column: 1 / span 2;
	  grid-row: 4 / span 1;
	}

     /*Mi CSS*/
    .ParrafoCentrado {
        text-align: center;
    }
	/*ENCABEZADO*/
	nav{
		margin:2%;
	}

	nav a {
		text-decoration: none;
		color: inherit;
		font-size: 1.5vw;
		
	}

	nav li {
		width:10vw;
		height: auto;
		display: inline-block;
		background-color: cornflowerblue;
		border: 1px solid #000;
		text-align: center;
		color: #fff;
	}

		nav li:hover {
			background-color: #fff;
			color: #000;
		}

	.contador{
		font-size:1.5vw;
		float:right;
		margin:2%;
		color:white;
	}
	/*BARRA LATERAL*/
	#enlaces {
		
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 2vh 2vh 2vh 2vh 2vh;
		box-sizing: border-box;
		background-color: cornflowerblue;
		margin: 1%;
		border: 1px solid #000;
	   
	}

	#lateralA {
		
		text-decoration: none;
		color: white;
		font-size: 1.5vw;
		padding-top:10%;
		
	}

		#lateralA:hover {
			color: black;
		}


	#footer {
		font-size: 1vw;
		color: #223E72;
		background-color: white;
	}